.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

#kf5-support-btn {
  display: none !important;
}

input,textarea{
  border: none;
  outline: none;
}

.van-ellipsis{
  font-size: 32px!important;
}

* {
  -webkit-user-select: text !important;
  -user-select: text !important;
}